<div  class="row">
  <div class='col-md-6'>
    <%= f.input :name, label: 'Name', placeholder: ' name' %>
  </div>
  <div class='col-md-6'>
    <%= f.input :item_code, placeholder: 'Item Code' %>
  </div>
</div>
<div  class="row">
  <div class='col-md-6'>
    <%= f.input :cover_slip, label: 'Cover Slip', placeholder: 'Cover Slip' %>
  </div>
  <div class='col-md-6'>
   <%= f.input :note, label: 'Note', placeholder: 'Note' %>
  </div>
</div>

<div class='col-md-12 text-center'>
  <%= f.submit 'Save',class: 'btn btn-info btn-lg'%>
</div>
