<div  class="row">
  <div class='col-md-6'>
    <%= f.input :name,  placeholder: 'Contact name' %>
  </div>
  <div class='col-md-6'>
    <%= f.input :email, placeholder: 'Email' %>
  </div>
</div>
<div  class="row">
  <div class='col-md-6'>
    <%= f.input :mob_number,  placeholder: 'Mobile Number' %>
  </div>
  <div class='col-md-6'>
    <%= f.input :fax,  placeholder: 'Fax' %>
  </div>
</div>
<div  class="row">
  <div class='col-md-6'>
    <%= f.input :title, placeholder: 'Title' %>
  </div>
  <div class='col-md-6'>
    <%= f.input :department, placeholder: 'Department' %>
  </div>
</div>
<div>
  <%= f.input :customer_id, collection: Customer.all.map{|a| [a.name, a.id]}, prompt: 'Select Customer' %>
</div>
<h3>
  Address
</h3>
  <%= f.fields_for :address do |addr| %>
    <%= render partial:'customers/shared/address', locals: {addr: addr}  %>
  <%end%>
<div class='col-md-12 text-center cstm-btn-pos'>
  <%= f.submit 'Save',class: 'btn btn-info btn-lg'%>
</div>
