<div class="row">
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="white-box">
      <div class="row row-in">
        <div class="col-lg-4 col-sm-6 row-in-br">
          <div class="col-in row">
              <div class="col-md-6 col-sm-6 col-xs-6"> <i  class=" fa fa-users "></i>
                  <h5 class="text-muted vb">TOTAL CONTACTS</h5>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                  <h2 class=" order_title counter text-right m-t-15 text-danger"><%= Contact.count %></h2>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="progress">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">100% Complete (success)</span> </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 row-in-br  b-r-none">
            <div class="col-in row">
                <div class="col-md-6 col-sm-6 col-xs-6"> <i class="fa fa-dollar" data-icon="&#xe01b;"></i>
                    <h5 class="text-muted vb">ORDERS AMOUNT</h5> </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="order_title counter text-right m-t-15 text-megna text_align"><%= total_orders_amount %></h2> </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-megna" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 row-in-br">
            <div class="col-in row">
                <div class="col-md-6 col-sm-6 col-xs-6"> <i class="fa fa-money" data-icon="&#xe00b;"></i>
                    <h5 class="text-muted vb">TODAYS SALES</h5> </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h2 class="order_title counter text-right m-t-15 text-primary">$<%= today_sales %></h2> </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="white-box">
      <h3 class="box-title">Order Placed</h3>
      <div>
          <canvas id="chart1" height="150"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="white-box">
      <h3 class="box-title">Products Ordered</h3>
      <div>
        <canvas id="chart2" height="150"></canvas>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="white-box">
      <h3 class="box-title">Top Contacts according to order</h3>
      <div>
        <canvas id="chart3" height="150"></canvas>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var order_count = <%=@order_count%>;
    var order_date = <%=raw @order_date.to_json%>;
    var product_name = <%=raw @products_name.to_json%>;
    var product_quantity = <%= @products_quantity%>;
    var contact_name = <%= raw @contacts_name %>;
    var contact_amount = <%= (@contacts_amount) %>
    chart("chart1", order_count, order_date, "Line");
    chart("chart2", product_quantity, product_name, "Bar")
    chart("chart3", contact_amount, contact_name, "Bar")
  });
</script>
