<p id="notice"><%= notice %></p>

<form class="form-horizontal form-material col-md-6 col-md-offset-3 white-box">
  <h3> CUSTOMER DETAILS </h3>
  <fieldset>
    <div class="form-group">
      <label class="col-md-3" for="fn">Name</label>
      <div class="col-md-9">
        <span> <%= @customer.name %>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3" for="fn">Shipping Address</label>
      <div class="col-md-9">
        <p>Line1: <%= @customer.shipping_address.line_1 %></p>
        <p> Line2: <%= @customer.shipping_address.line_2 %></p>
        <p> Zip:<%= @customer.shipping_address.zip %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3" for="fn">Billing Address</label>
      <div class="col-md-9">
        <p>Line1: <%= @customer.billing_address.line_1 %></p>
        <p> Line2: <%= @customer.billing_address.line_2 %></p>
        <p> Zip:<%= @customer.billing_address.zip %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3" for="fn">Additional Address</label>
      <div class="col-md-9">
        <p>Line1: <%= @customer.additional_address.line_1 %></p>
        <p> Line2: <%= @customer.additional_address.line_2 %></p>
        <p> Zip:<%= @customer.additional_address.zip %></p>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3" for="fn">phone:</label>
      <div class="col-md-9">
        <span> <%= @customer.phone_number %>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3" for="fn">Fax</label>
      <div class="col-md-9">
        <span>
          <%= @customer.fax%>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3" for="fn">Department</label>
      <div class="col-md-9">
        <span>
          <%= @customer.department%>
        </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3" for="fn"> Contact Name</label>
      <div class="col-md-9">
        <span>
          <%= @customer.contacts.name%>
        </span>
      </div>
    </div>
    <div class="col-sm-12">
  <div class="white-box">
    <h3 class="box-title m-b-0 text-center">Contacts</h3>
      <div class="table-responsive custom_datatable">
        <table id="products_datatable" class="display nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Order</th>
            </tr>
          </thead>
          <tbody>
            <% @customer.contacts.each do |item| %>
              <tr>
                <td><%= item.name %> </td>
                <td><%= item.email %> </td>
                <td><%= item.mob_number %> </td>
                <td><%= link_to 'Order', select_product_contact_path(item, customers_id: @customer.id) %></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
  </div>
</div>
    <%= link_to 'Edit', edit_customer_path(@customer)%>|
    <%= link_to 'Back', customers_path %>
  </fieldset>
</form>



<script>
  datatable('products_datatable', 1, [0], 20, [0,1,2,3])
</script>
