<p id='notice'><%= notice %></p>
<div id = 'print_data'>
  <div class='row'>
    <div class='col-md-12'>
      <div class='white-box printableArea'>
        <h3><b>ORDER DETAILS</b> <span class='pull-right'># <%= @order.order_number %></span></h3>
        <hr>
        <div class='row'>
          <div class='col-md-12'>
            <div class='pull-right text-right'>
                <address>
                    <h3>To,</h3>
                    <h4><p> <%= @order.shipping_address.line_1 %></p>
                      <p> <%= @order.shipping_address.line_2 %></p>
                      <p> <%= @order.shipping_address.city %></p>
                      <p> <%= @order.shipping_address.state %></p>
                      <p> <%= @order.shipping_address.country%></p>
                      <p> Zip <%= @order.shipping_address.zip %></p></h4>
                    <p class='m-t-30'><b></b> <i class='fa fa-calendar'></i><%=(@order.ordered_at).to_date.strftime('%d-%m-%Y') %></p>
                </address>
            </div>
          </div>
          <div class='col-md-12'>
              <div class='table-responsive m-t-40' style='clear: both;'>
                  <table class='table table-hover'>
                      <thead>
                          <tr>
                              <th>Product</th>
                              <th class='text-right'>Unit_price</th>
                              <th class='text-right'>Quantity</th>
                              <th class='text-right'>Amount</th>
                          </tr>
                      </thead>
                      <tbody>
                        <% @order.order_items.each_with_index do |i| %>
                          <tr>
                              <td><%= i.product.name %></td>
                              <td class='text-right'><%= i.unit_price%> </td>
                              <td class='text-right'><%= i.quantity%> </td>
                              <td class='text-right'><%= assign_dollar %> <%= round_off(i.amount) %></td>
                          </tr>
                        <% end %>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
        <div class='pull-right m-t-30 text-right'>
          <h3>
            <b>Total :</b> $<%=@order.total_amount.round(2)%>
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class='clearfix'></div>
  <hr>
  <div class='text-right'>
    <button class='btn btn-danger' >
      <%= link_to 'Edit', edit_order_path(@order) %>
    </button>
    <button id='print' class='btn btn-default btn-outline' type='button' onclick='print_page(print_data)'>
      <span>
        <i class='fa fa-print'></i> Print
      </span>
    </button>
  </div>
</div>
