<div class="col-sm-12">
  <div class="white-box">
    <h3 class="box-title m-b-0 text-center">CONTACTS</h3>
    <p class="text-muted m-b-30"></p>
    <div class="table-responsive custom_datatable">
      <table id="client_datatable" class="display nowrap" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Customer</th>
            <th>Order</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= link_to "#{contact.name}", contact %></td>
              <td><%= contact.email %></td>
              <td><%= contact.mob_number %></td>
              <td><%= contact.customer.try(:name) %></td>
              <td>
                <%= link_to select_product_contact_path(contact) do %>
                  <i class="fa fa-shopping-cart">
                    Order
                  </i>
                <%end%>
              </td>
              <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
              <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  datatable('client_datatable', 1, [4,5], 20, [0,1,2])
</script>
