<p id="notice"><%= notice %></p>
<form class="form-horizontal form-material col-md-8 col-md-offset-2 white-box">
  <fieldset>

    <h3 class="text-center">  CONTACT DETAILS  </h3>
    <div class="form-group">
      <label class="col-md-3" for="fn">Name</label>
      <div class="col-md-9">
       <span><%= @contact.name %></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3" for="fn">Email</label>
      <div class="col-md-9">
       <span><%= @contact.email %></span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3" for="fn">Mobile Number</label>
      <div class="col-md-9">
       <span><%= @contact.mob_number %></span>
      </div>
    </div>
    <% if(@contact.address.present?) %>
      <div class="form-group">
        <label class="col-md-3" for="fn">Line 1</label>
        <div class="col-md-9">
         <span><%= @contact.address.line_1 %></span>
        </div>
      </div>


      <div class="form-group">
        <label class="col-md-3" for="fn">Line 2</label>
        <div class="col-md-9">
         <span><%= @contact.address.line_2 %></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3" for="fn">Zip</label>
        <div class="col-md-9">
         <span><%= @contact.address.zip%></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3" for="fn">City</label>
        <div class="col-md-9">
         <span><%= @contact.address.city%></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3" for="fn">State</label>
        <div class="col-md-9">
         <span><%= @contact.address.state%></span>
        </div>
      </div>

      <div class="form-group">
        <label class="col-md-3" for="fn">Country</label>
        <div class="col-md-9">
         <span><%= @contact.address.country%></span>
        </div>
      </div>
    <%end %>
    <%= link_to 'Edit', edit_contact_path(@contact) %> |
    <%= link_to 'Back', contacts_path %>
  </fieldset>
</form>
















