<h2><%= t 'devise.invitations.edit.header' %></h2>
<%= form_for(resource, as: resource_name, html: {class: "form-horizontal form-material", id: "loginform"}, url: invitation_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :invitation_token %>
  <% if f.object.class.require_password_on_accepting %>
    <div class="form-group ">
      <div class="col-xs-12">
        <%= f.password_field :password, class: "form-control", type: "password", required: "", placeholder: "Password" %>
      </div>
    </div>
    <div class="form-group ">
      <div class="col-xs-12">
        <%= f.password_field :password_confirmation, class: "form-control", type: "password", required: "", placeholder: "Password Confirmation" %>
      </div>
    </div>
  <%end%>
  <div class="form-group text-center m-t-20">
    <div class="col-xs-12">
      <%= f.submit "Set Password",  class: "btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"%>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
