<%= simple_nested_form_for @product, html: {class: 'form-material form-horizontal'} do |f| %>
  <%= f.error_notification %>
  <div class='form-inputs'>
    <div  class="row">

      <div class='col-md-6'>
        <%= f.input :name, placeholder: 'name' %>
      </div>
      <div class='col-md-6'>
        <%= f.input :code, placeholder: 'code' %>
      </div>
    </div>
    <div  class="row">
      <div class='col-md-6'>
        <%= f.input :price, placeholder: 'price' %>
      </div>
      <div class='col-md-6'>
        <%= f.input :stock_in_hand, placeholder: 'stock in hand' %>
      </div>
    </div>
    <div  class='col-md-6'>
      <%= f.input :category_id, collection: Category.all.map{|i| [i.name, i.id]} %>
    </div>
  </div>
  <div class='col-md-12 text-center'>
    <%= f.submit 'Save',class: 'btn btn-info btn-lg'%>
  </div>
<%end %>
