<!-- <p id="notice"><%#= notice %></p> -->
<div class="col-sm-12">
  <div class="white-box">
    <h3 class="box-title m-b-0 text-center">PRODUCTS</h3>
      <div class="table-responsive custom_datatable">
        <table id="products_datatable" class="display nowrap" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th>Name</th>
              <th>code</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Edit</th>
              <th> Delete </th>
            </tr>
          </thead>
            <tbody>
              <% @products.each do |product| %>
                <tr>
                  <td><%= link_to product.name, product %></td>
                  <td><%= product.code %></td>
                  <td><%= product.price %></td>
                  <td><%= product.stock_in_hand %></td>
                  <td><%= link_to 'Edit', edit_product_path(product) %></td>
                  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <%end%>
            </tbody>
        </table>
      </div>
  </div>
</div>

<script>
  datatable('products_datatable', 1, [4,5], 20, [0,1,2,3])
</script>
