<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <ul class="nav" id="side-menu">
        <li class="nav-small-cap m-t-10"></li>
        <li>
          <a href="/" "data-no-turbolink"="true" class="waves-effect">
            <i class="fa fa-dashboard"></i>
            <span class="hide-menu">
              Dashboard
            </span>
          </a>
        </li>
        <li><a href="javascript:void(0)" class="waves-effect"><i class=" fa fa-qrcode"></i> <span class="hide-menu">Orders <span class="fa arrow"></span></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <%= link_to new_order_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-plus-square-o"></i>
                      Create
                    <% end %>
                </li>
                <li>
                    <%= link_to orders_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-list"></i>
                       List
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="waves-effect">
            <i class="fa fa-suitcase"></i>
              <span class="hide-menu">Customers
                <span class="fa arrow"></span>
              </span>
            </a>
            <ul class="nav nav-second-level">
              <li>
                <%= link_to new_customer_path, 'data-no-turbolink' => true do %>
                  <i class=" fa fa-plus-square-o"></i>
                  <span class="hide-menu">
                    Create Customer
                  </span>
                <% end %>
              </li>
              <li>
                  <%= link_to customers_path, 'data-no-turbolink' => true do %>
                    <i class="fa fa-list"></i>
                     List
                  <% end %>
              </li>
            </ul>
        </li>
        <li><a href="javascript:void(0)" class="waves-effect"><i class=" fa fa-users"></i> <span class="hide-menu">Contacts <span class="fa arrow"></span></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <%= link_to new_contact_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-plus-square-o"></i>
                      Create
                    <% end %>
                </li>
                <li>
                    <%= link_to contacts_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-list"></i>
                       List
                    <% end %>
                </li>
            </ul>
        </li>
        <li><a href="javascript:void(0)" class="waves-effect"><i class=" fa fa-users"></i> <span class="hide-menu">Categories <span class="fa arrow"></span></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <%= link_to new_category_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-plus-square-o"></i>
                      Create
                    <% end %>
                </li>
                <li>
                    <%= link_to categories_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-list"></i>
                       List
                    <% end %>
                </li>
            </ul>
        </li>
        <li><a href="javascript:void(0)" class="waves-effect"><i class="fa fa-product-hunt"></i> <span class="hide-menu">Products <span class="fa arrow"></span></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <%= link_to new_product_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-plus-square-o"></i>
                      Create
                    <% end %>
                </li>
                <li>
                    <%= link_to products_path, 'data-no-turbolink' => true do %>
                      <i class="fa fa-list"></i>
                       List
                    <% end %>
                </li>
            </ul>
        </li>
        <li>
          <%= link_to send_invitation_users_path, class: "waves-effect", 'data-no-turbolink' => true do %>
            <i class="fa fa-user"></i>
            <span class="hide-menu">
              Invite User
            </span>
          <% end %>
        </li>
    </ul>
  </div>
</div>
