<div class="main">
  <div class="row">
      <div class='col-md-6'>
        <%= addr.input 'line_1',placeholder: 'line 1' %>
      </div>
      <div class='col-md-6'>
        <%= addr.input 'line_2', placeholder: 'line 2' %>
      </div>
    </div>
    <div  class="row">
      <div class='col-md-6'>
        <%= addr.input 'zip', placeholder: 'zip', input_html: {class: 'zip_code' , autocomplete: :off}%>
        <span class = "zipcode_error hidden">Enter Valid Zip Code
        </span>
      </div>
      <div class='col-md-6 select_lbl'>
      <%= addr.input :city,  input_html: {id: 'dropdown_city', class: 'city_dropdown '}%>
      </div>
    </div>
    <div  class="row">
      <div class='col-md-6 select_lbl'>
      <%= addr.input :state, input_html: {id: 'dropdown_state', class: 'state_dropdown '}%>
      </div>
      <div class='col-md-6 select_lbl'>
        <%= addr.input :country, :as => :string, input_html: {id: 'dd_country'}%>
      </div >
    </div >
  </div>
</div>
